.header{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
}
.logo{
    background: white;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    width: 83px;
    height: 22px;
}
.banner{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #f0f8ff;
}
.banner label:nth-child(1){
    padding: 4px;
    font-size: 13px;
    color: #0084ff;
    border: 1px solid #0084ff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.banner label:nth-child(2){
    color: #1c3c50;
    font-size: 35px;
    font-family: var(--font-bold);
}
.banner label:nth-child(3){
    font-size: 60px;
    color: #0084ff;
    font-weight: 700;
    font-family: var(--font-extra-bold);
}
.banner label:nth-child(4){
    font-weight: 400;
    font-family: var(--font-extra-light);
    border-top:2px solid #c8d4dd;
}
@media screen and (max-width:780px){
    .banner label:nth-child(3){
        font-size: 42px;
    }
    .banner label:nth-child(2){
        font-size: 28px;
    }
    .banner label:nth-child(4) {
        padding-top: 15px;
        width: 90%;
        text-align: center;
    }
}