.plano{
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 300px;
    background: #f0f8ff;
}
.plano .thumb{
    height: 460px;
    width: 460px;
}
.plano .descri-plano{
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 400px;
    width: 492px;
    justify-content: space-evenly;
}
.plano .descri-plano label{
    width: 100%;
    font-family: var(--font-medium);
}
.plano .avaliacao{
    display: flex;
}
.plano .avaliacao h3{
    justify-content: center;
    align-items: center;
    font-size: 11px;
    font-weight: 400;
    font-family: var(--font-extra-light);
}
.plano .avaliacao .frases{
    display: flex;
    justify-content: center;
    align-items: center;
}
.plano .avaliacao .frases:nth-child(2){
    padding-left: 10px;
    border-left: 2px solid rgba(0, 0, 0, 0.507);
}
.plano .avaliacao .frases:nth-child(1){
    padding-right: 10px;
}
.plano .descri-plano label:nth-child(1){
    width: 300px;
    text-align: left;
    font-size: 40px;
}
.plano .botoes{
    width: 100%;
    padding-top: 23px;
    border-top: 2px solid #c8d4dd;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    width: 100%;
    min-height: 40px;
}
.plano .botoes button{
    border: none;
    padding: 20px 15px;
    background: #0084ff;
    border-radius: 30px;
    color: white;
    text-align: center;
    align-items: center;
    font-size: 14px;
}
.plano .botoes button:hover{
    transition: all 0.2s;
    cursor: pointer;
    outline: 1px solid #0084ff;
    background: white;
    border-radius: 30px;
    color: #0084ff;
}
.plano .botoes img{
    margin-left: 3px;
    width: 150px;
    height: 42px;
}
@media screen and (max-width:780px){
    .plano .thumb{
        height: 100%;
        width: 90%;
    }
    .plano{
        flex-direction: column;
    }
    .plano .descri-plano{
        align-items: center;
        height: 300px;
        width: 100%;
        margin: 0;
        text-align: center;
    }
    .plano .descri-plano .botoes{
        justify-content: center;
    }
    .plano .avaliacao .frases:nth-child(2){
        padding: 0;
        border: none;
    }
    .plano .avaliacao .frases:nth-child(1){
        padding: 0;
        border: none;
    }
    .plano .avaliacao{
        flex-direction: column;
    }
    .plano .descri-plano label:nth-child(1) {
        text-align: center;
        font-size: 30px;
    }
    .plano .botoes button {
        font-size: 10px;
    }
}

