.content{
    padding-top: 40px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 60%;
    padding-bottom: 20px;
}
.content .aba{
    padding-bottom:20px ;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #c8d4dd;
}
.content .aba .titulos{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content .aba .titulos label{
    margin: 5px;
    font-size: 13px;
    padding: 5px;
    border-radius: 14px;
    border: 1px solid;
}
.content .aba .titulos label:hover{
    color: #0084ff;
    border: 1px solid #0084ff;
}
.content .cards{
    margin-top: 20px;
    min-height: 700px;
    width: 65%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
}
.content .cards .card{
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 2px 8px 12px rgba(0, 0, 0, 0.13);
    height: 30%;
    width: 270px;
    display: flex;
    flex-direction: column;
}
.content .cards .card:hover label{
    transition: 0.2s;
    color: #0329ff;
}
.content .cards .card img{
    width: 100%;
    height: 75%;
}
.content .cards .card label{
    width: 100%;
    height: 25%;
}
.content .index{
    border-top: 1px solid #c8d4dd;
    width: 65%;
    height: 50px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
}
.content .index h2{
    transition: 0.2s;
    font-weight: 500;
}
.content .index .indice{
    text-align: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}
.content .index .indice:hover{
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid #0329ff;
    color: #0329ff;
}
@media screen and (max-width:780px){
    .content .aba{
        flex-direction: column;
    }
    .content .aba .titulos{
        flex-direction: column;
    }    
    .content .aba .selecao{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

